<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<appSettings>

		<!-- INICIO BANCO DE DADOS DOCKER -->
		
		<!-- Identificação para usar banco de dados via docker - para ativar, usar valor "SIM" -->
		<add key="isDocker" value="SIM"/>

		<!-- Usuario utilizado no banco de dados via docker -->
		<add key="usuarioBancoDocker" value="sa"/>

		<!-- Senha utilizada no banco de dados via docker -->
		<add key="senhaBancoDocker" value="Test#123"/>

		<!-- FIM BANCO DE DADOS DOCKER -->
		
		<!-- Servidor do banco de dados  -->
		<add key="servidor" value="localhost"/>
		
		<!-- Nome do banco de dados -->
		<add key="banco" value="GerenciadorFrotas"/>

		<!-- Diretório para onde serão exportados os registros (importante que o caminho seja passado com '\') -->
		<add key="export-directory" value="C:\"/>
		
	</appSettings>
</configuration>